---
layout: page
---
<div class="post">
  <article>

    <!-- PhD Students -->
    <h2>PhD Students</h2>
    <div class="profiles-grid">
      {% for person in page.phd %}
        {% include profile.liquid profile=person %}
      {% endfor %}
    </div>

    <!-- Researchers -->
    <h2>Researchers</h2>
    <div class="profiles-grid">
      {% for person in page.researchers %}
        {% include profile.liquid profile=person %}
      {% endfor %}
    </div>

    <!-- PIs -->
    <h2>PIs</h2>
    <div class="profiles-grid">
      {% for person in page.pis %}
        {% include profile.liquid profile=person %}
      {% endfor %}
    </div>

  </article>
</div>
